<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서관리시스템</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>도서관리시스템</h1>

    <div class="search-page">
        <form action="/booksearch" method="post" class="search-form">
            <input type="text" class="search-bar" name="search_word" placeholder="검색어를 입력하세요." autofocus>
            <input type="submit" class="search-button" value="Search">
        </form>
    </div>

    <div class="search-results">
      <% if (bookList && bookList.length > 0) { %>
        <h2>검색 결과  </h2>
        <ul>
          <% bookList.forEach(book => { %>
            <li>
              <strong>도서명:</strong> <%= book.book_name %><br>
              <strong>저자:</strong> <%= book.book_author %><br> 
              <strong>출판사:</strong> <%= book.book_publ%><br> 
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>검색 결과가 없습니다.</p>
      <% } %>
  </div>
</body>
</html>