<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book</title>
</head>
<body>
    <h1>책추가</h1>
    <a href ="/">돌아가기</a>


    









    <div class="book_page">
        <div class="form">
          <form action="/book" method="post">
            <input id="book_name" type="text" placeholder="책이름" name="book_name"/>
            <input id="book_author" type="text" placeholder="작가" name="book_author"/>
            <input id="book_publ" type="text" placeholder="출판사" name="book_publ"/>
            <input id="book_ISBN" type="text" placeholder="ISBN" name="book_ISBN"/>
            <!-- <p id="button">login</p > -->
                <button id="button" type="submit">submit</button>
         
          </form>
        </div>
      </div>
    



    </div>
</body>
</html>