<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
</head>
<body>
    <h1>~회원가입~</h1>
    <div class="join_page">
        <div class="form">
          <form action="/join" method="post">
            <input id="id" type="text" placeholder="아이디" name="id"/>
            <input id="name" type="text" placeholder="이름" name="name"/>
            <input id="birth" type="text" placeholder="생일" name="birth"/>
            <input id="tel" type="password" placeholder="전화번호" name="tel"/>
            <input id="pw" type="password" placeholder="비밀번호" name="pw"/>
            <input id="confirm-psword" type="password" placeholder="비밀번호확인" name="pwch"/>
            <!-- <p id="button">login</p > -->
                <button id="button" type="submit">submit</button>
         
          </form>
        </div>
      </div>
    



    </div>
    
</body>
</html>