<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    
  
    <title>login</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <div class="login_page">
        <div class="form">
          <form action="/login" method="post">
            <input id="id" type="text" placeholder="아이디" name="id" autofocus/>
            <input id="pw" type="password" placeholder="비밀번호" name="pw"/>
            <!-- <p id="button">login</p > -->
                <button id="button" type="submit">login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
          </form>
        </div>
      </div>
   
</body>
</html>